.fp {
    width: 100%;
    max-width: 1024px;
    display: grid;
    grid-template: 1fr / repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    cursor:pointer;
    border-radius: 5px;
  }
  .fpRating button{
  border-radius: 5px;
  }
  @media screen and (max-width: 650px) {
    .fp {
      grid-template: 1fr / repeat(1, 1fr);
      padding: 20px;
      justify-items: center;
    }
  }
  @media screen and (min-width: 651px) and (max-width: 1024px) {
    .fp {
      grid-template: 1fr / repeat(2, 1fr);
    }
    
  }